<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.taskmanage856073" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TaskManager</name>
  <description>
        Task Manager - An App to create and manage your work, holidays, set reminders, alarms, alerts and important meetings.
    </description>
  <author email="er.shivamcs@gmail.com" href="http://letmeshare.in/">
      Letmeshare Dev Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Fullscreen" value="true" />
  <preference name="SplashScreen" value="screen" />
  <feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device" />
  </feature>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>

