<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Task Manager - Reminder</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
    	document.addEventListener("deviceready", onDeviceReady, false);
	function onDeviceReady() {
	   navigator.splashscreen.hide();
        } 
    </script>

  </head>
 
  <body ng-controller="MainCtrl">
    
    <ion-nav-view></ion-nav-view>
    
    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus>

        <ion-side-menu-content>
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          </ion-nav-buttons>
	<ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"></button>
          </ion-nav-buttons>
	<ion-nav-view animation="no-animation" name="menuContent"></ion-nav-view>
        </ion-side-menu-content>
        
        <ion-side-menu side="left">
          <ion-header-bar class="bar-assertive">
            <h1 class="title">Manage</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a href="#/event/newtask" class="item" menu-close>Add New Task</a>
              <a href="#/event/viewtask" class="item" menu-close>View Task</a>
	      <a href="#/event/attendees" class="item" menu-close>View Completed Task</a>
 	      <a href="#/event/holidays" class="item" menu-close>Calendar</a>
            </ul>
          </ion-content>
        </ion-side-menu>

        <ion-side-menu side="right">
          <ion-header-bar class="bar-assertive">
            <h1 class="title">Categories</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
 	      <a href="#/event/check-in" class="item" menu-close>Alarms</a>
              <a href="#/event/check-in" class="item" menu-close>Borrow</a>
              <a href="#/event/attendees" class="item" menu-close>Job Alert</a>
              <a href="#/event/attendees" class="item" menu-close>Interview</a>
              <a href="#/event/holidays" class="item" menu-close>Holiday</a>
            </ul>
          </ion-content>
        </ion-side-menu>
 
      </ion-side-menus>
    </script>
    
    <script id="templates/home.html" type="text/ng-template">
      <ion-view title="Task Manager & Reminder">
        <ion-content padding="true">
          <p>Welcome, TaskManager</p>
          <p>Manage Your Work & Activities, Set Alert, Reminders and manage Holidays </p>

	<div class="bar bar-footer bar-balanced">
  <div class="title">TaskManager@2014 &copy LMS</div>
</div>
        </ion-content>
      </ion-view>
    </script>
   
    <script id="templates/new-task.html" type="text/ng-template">
      <ion-view title="Add New Task">
        <ion-content>
          <form class="list" ng-show="showForm">
	    <div class="item item-divider">
                Task Details
            </div>
	    <label class="item item-input">
              <input type="text" placeholder="Task Title" ng-model="taskinfo.title">
            </label>
            <label class="item item-input">
	      <textarea placeholder="Description" ng-model="taskinfo.desc"></textarea>
  	    </label>
            <div class="padding">
              <button class="button button-block" ng-click="submit()">Submit Task</button>
            </div> 
	  </form>
          <div ng-hide="showForm">
            <pre ng-bind="taskinfo | json"></pre>
            <a href="#/event/tasks">View Tasks</a>
          </div>
        </ion-content>
      </ion-view>
    </script>
 
    <script id="templates/check-in.html" type="text/ng-template">
      <ion-view title="Event Check-in">
        <ion-content>
          <form class="list" ng-show="showForm">
            <div class="item item-divider">
             	Create New Task
            </div>
            <label class="item item-input">
              <input type="text" placeholder="Task Name" ng-model="attendee.firstname">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Description" ng-model="attendee.lastname">
            </label>
            <div class="item item-divider">
              Shirt Size
            </div>
            <ion-radio ng-repeat="shirtSize in shirtSizes"
                       ng-value="shirtSize.value"
                       ng-model="attendee.shirtSize">
              {{ shirtSize.text }}
            </ion-radio>
            <div class="item item-divider">
              Lunch
            </div>
            <ion-toggle ng-model="attendee.vegetarian">
              Vegetarian
            </ion-toggle>
            <div class="padding">
              <button class="button button-block" ng-click="submit()">Checkin</button>
            </div>
          </form>

          <div ng-hide="showForm">
            <pre ng-bind="attendee | json"></pre> 
            <a href="#/event/attendees">View attendees</a>
          </div>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="templates/attendees.html" type="text/ng-template">
      <ion-view title="Event Attendees" left-buttons="leftButtons">
        <ion-content>
          <div class="list">
            <ion-toggle ng-repeat="attendee in attendees | orderBy:'firstname' | orderBy:'lastname'"
                        ng-model="attendee.arrived"
                        ng-change="arrivedChange(attendee)">
              {{ attendee.firstname }}
              {{ attendee.lastname }}
            </ion-toggle>
            <div class="item item-divider">
              Activity
            </div>
            <div class="item" ng-repeat="msg in activity">
              {{ msg }}
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
  
    <script id="templates/view-task.html" type="text/ng-template">
      <ion-view title="Your Tasks" left-buttons="leftButtons">
        <ion-content>
            <div class="item subheader" ng-repeat="task in tasks">
		<h2 class="title">{{ task.title }}</h2>
 		<p>{{ task.desc }}</p>
            </div>
	</ion-content>
      </ion-view>	

    </script>

  </body>
</html>
